.custom{
    color:blue;
    font-weight: bold;

}

.custom:hover{
    color:red;
}

.bold{
    color:red;
    font-weight: bold;
}
.img_medium > img{
    border: none;
    box-shadow: none;
    max-width: 200px;
    max-height: 200px;
}